<div class="row">
  <div class="col-4 offset-4">
    <br><h1>Nuevo costo de adquisición</h1>
    <%= render 'form', adquisition_cost: @adquisition_cost %>
    <br><%= link_to 'Ver costo de productos', adquisition_costs_path %>
  </div>
</div>
