<h1>Editing Packaging Convertion</h1>

<%= render 'form', packaging_convertion: @packaging_convertion %>

<%= link_to 'Show', @packaging_convertion %> |
<%= link_to 'Back', packaging_convertions_path %>
