<div class="row">
  <div class="col-4 offset-4">
    <br><h1>Nuevo movimiento de stock</h1>
    <%= render 'form', stock_movement: @stock_movement %>
    <%= link_to 'Ir a movimientos', stock_movements_path %>
  </div>
</div>  

