<div class="container">
  <div class="row">
    <div class="col-6"><br>
      <h2>Resumen de ventas</h2><br>
      <h6>Elegir fechas</h6>
      <input type="text" name="daterange" value="01/12/2020 - 31/12/2020">
    </div>
  </div>
 </div> 
