
<div class="container-fluid inicio home-page">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
    <br>
      <%= image_tag("logoapp.png", class: "img-responsive", id: "navbar-logo", size: "150" ) %>
      <h1 id="landing-title">Distribuidora Los Amigos</h1>
      <h4>Aplicación personalizada de gestión empresarial<h4>
      <h6 class="cursiva">Si no cuenta con usuario, contactar a administración<h6>
      <br>
      <% if user_signed_in? %>
      <%= link_to 'Comenzar', home_dashboard_path, class:"btn bg-light"  %> 
      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"btn bg-light" %> 
      <% else %>
      <%= link_to 'Iniciar sesión', new_user_session_path, class:"btn bg-light"  %>
      <br>
      <br>
      <br>
      <h6 class="cursiva">Si quieres ser nuestro/a cliente/a o tienes dudas, escríbenos<h6>
      <a class="typeform-share button" href="https://form.typeform.com/to/Cp24NfkF?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#3A7685;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">¡Contáctanos! </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      <% end %>      
    </div>
  </div>
</div>

