<br>

<div class="row">
  <div class="col-6 offset-3">
  <h2> Evaluación y comportamiento clientes - Rankings </h2>
    <%= pie_chart @my_orders, title: "Ventas hechas" %>
    <%= pie_chart @my_amount, title: "Monto recaudado en ventas"%>
  </div>
</div>

<br/>
