<div class="container-fluid">
  <h1>Órdenes por camión</h1>
  <br>
  <table class="table table-striped delivery-orders-datatable bg-light" id="orders" data-source="<%= delivery_orders_orders_url(format: 'json') %>">
    <thead>
      <tr>
        <th>Folio</th> 
        <th>Patente</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Total bruto</th>
        <th></th>     
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>