<div class="container-fluid">
  <div class="col-5 border border-white bg-info offset-3 text-white negrita mt-5">
    <h3 class="text-center">Monto asignado por camión</h3>
    <div class="row update-deliveries mt-5">
      <% @delivery_methods.each do |dm|%>
        <div class="col-6"> 
          <h5 class="border border-light p-2"><%= dm.vehicle_plate %> <%= number_with_delimiter(dm.orders.sum(:total_amount)) %></h5>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h3>Asignar transporte a órdenes</h3>
      <table class="table assign-delivery-method-datatable m-b-20" data-source="<%= edit_all_orders_url(format: 'json') %>">
        <thead>
          <tr>
            <th>N° de orden</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Comuna</th>
            <th>Cantidad desechables</th>
            <th>Cantidad retornables</th>
            <th>Cantidad 3LT</th>
            <th>Cantidad cervezas</th>
            <th>Monto total</th>
            <th>Tipo de orden</th>
            <th>Transporte actual</th>
            <th>Elegir nuevo transporte</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
