
<div class="container">
  <div class="row">
    <div class="col-12">
    <br>
    <h1>Asignar transporte a órdenes</h1><br>
    
    #Alerta oculta
    <div class="alert alert-success alert-dismissible fade show hide" role="alert" id="deliveryAlert">
      <strong>¡Bien hecho!</strong> Las órdenes fueron asignadas a los camiones.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

      <%= form_with model: @delivery_method, url: update_orders_delivery_methods_path, method: :put do |form| %>
        <table class="table table-striped bg-light">
          <thead class="text-center">
            <tr>
              <th>N° de orden</th>
              <th>Cliente</th>
              <th>Monto total</th>
              <th>Transporte actual</th>
              <th>Elegir nuevo transporte</th>
            </tr>
          </thead>
          <%= form.fields_for :orders do |orders_form| %>
            <%= render "order_fields", f: orders_form %>
          <% end %>
        </table>
        <div class="actions">
          <%= submit_tag "Agregar transporte", class:"btn btn-info delivery-added"%>
        </div>
            
      <% end %>
    </div>
  </div>
</div>