
<div class="container">
  <div class="row">
    <div class="col-12">
    <br>
    <h1>Asignar transporte a órdenes</h1><br>
      <%= form_with model: @delivery_method, url: update_orders_delivery_methods_path, method: :put do |form| %>
        <table class="table table-striped bg-light">
          <thead class="text-center">
            <tr>
              <th>N° de orden</th>
              <th>Cliente</th>
              <th>Monto total</th>
              <th>Transporte</th>
            </tr>
          </thead>
          <%= form.fields_for :orders do |orders_form| %>
            <%= render "order_fields", f: orders_form %>
          <% end %>
        </table>
        <div class="actions">
          <%= submit_tag "Agregar transporte", class:"btn btn-info"%>
        </div>
      <% end %>
    </div>
  </div>
</div>