<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-10">
      <h1>Órdenes</h1>
      <%= link_to 'Exportar a Excel', orders_path(format: :xlsx), class:"btn btn-info" %>
    </div>
    <div class="col-2">
      <%= link_to 'Nueva órden', new_order_path, class:"btn btn-success btn-lg" %>
    </div>
    <div class="col-12 mt-3">
      <table class="table table-striped bg-light orders-datatable" id="orders" data-source="<%= orders_url(format: 'json') %>">
        <thead class="text-center">
          <tr>
            <th>Fecha</th> 
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Total bruto</th>
            <th>Despacho</th>
            <th>Encargado de camión</th>
            <th>Monto de descuento</th>
            <th>Comentario del descuento</th>
            <th>¿Crear factura?</th>
            <th> Factura </th>
            <th> Acciones </th>
          </tr>
        </thead>
        <tbody class="text-center">
        </tbody>
      </table>
    </div>
  </div>
</div>
