<br>

<div class="row">
  <div class="col-6 offset-3">
  <h2> Mi comportamiento </h2>
    <%= pie_chart @my_orders, title: "Cantidad de ventas por cliente" %>
    <%= pie_chart @my_amounts , title: "Monto de ventas por cliente"%>
  </div>
</div>

<br/>
