<div class="row">
  <div class="col-6 offset-2 justify-content-center">
    <br><%= link_to 'Ver pdf', order_path(id: @order.id, format: :pdf), target: '_blank', class: "btn btn-info" %>
  </div>
</div>
<br>
<%= render 'order_pdf' %>
        
