<div class="row">
  <div class="col-6 offset-2 justify-content-center">
    <br><%= link_to 'Ver pdf - imprimir', order_path(id: @order.id, format: :pdf), target: '_blank', class: "btn btn-info" %>
    <%= link_to 'Agregar nueva orden', new_order_path, class: "btn btn-success  " %>
  </div>
</div>
<br>
<%= render 'order_pdf' %>
        
