<div class="container">
  <h3>Recepción de envases</h3>
  <table class="table table-striped bg-light">
    <thead>
        <tr>
          <th>Cliente</th>
          <th>Total traido en cajas</th>
          <th>Total pagado en dinero</th>
        </tr>
      </thead>

      <tbody>
        <% @packaging_receptions.each do |packaging_reception| %>
          <tr>
            <td><%= packaging_reception.client %></td>
            <td><%= number_with_delimiter(packaging_reception.total_box_amount) %></td>
            <td><%= number_with_delimiter(packaging_reception.total_payed) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Agregar nueva recepción', new_packaging_reception_path, class:"btn btn-success" %>
</div>
   