
 @import "bootstrap";
 @import "select2";
 @import "font-awesome";
 @import 'bootstrap-datepicker3';
 @import 'datatables/media/css/jquery.dataTables';

 .home-page {
  background-color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;}

  .hide{
    display:none
  }
  
  html, body {
    margin: 0;
    height: 100%; 
    background-image: url(back4.jpg);
    backdrop-filter: brightness(150%) saturate(150%) blur(1rem);
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.cursiva {
  font-family: 'Oswald';
  font-style: italic;
}

.negrita {
  font-family: 'Oswald';
  font-style: bold;}
  
.inicio {
  color: white;
  font-family: 'Oswald', sans-serif;
  padding-top: 50px;
  text-align: center;
}

.text-home {
  border-radius: 25px;
  background: #082E71;
  padding: 20px;
  height: 150px;
}

.landing-title {
  text-align: center;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.text-bold{
  font-weight:bold;
}

.text-blue{
  color: darkblue;
}

.border-blue{
  border: 1px solid darkblue;
}

.bg-blue{
  background-color: darkblue;
  color: white;
}
.custom-select{
  color: #757C84;
  &.date{
    width: 45%;
  }
  &.error{
    border: 1px solid red;
  }
}
.form-checkbox{
  width: 25px;
  height: 25px;
}
.form-btn{
  margin-top: 34px;
}