// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  margin: 0;
  height: 100%; 
  background-color: white;
  backdrop-filter: brightness(150%) saturate(150%) blur(1rem);
  font-family: 'Oswald', sans-serif;
  font-size: large;
}
