<br>
<div class="row">
<div class="col-4 offset-4">
<h3>Modificar producto</h3>
</div>
</div>
<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
