<!DOCTYPE html>
<html>
<head>
<title>VISTA PREVIA ORDEN</title>
  <%= wicked_pdf_stylesheet_link_tag "application"%>
  <%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <%= yield %>
</body>
</html>